body{
    background-color: FAFED6;
}
.container{
    border-radius: 10px;
   padding: 5px;
    border: 2px solid goldenrod;
    transform: translateY(+50%);
    max-width:300px;
    background-color: rgb(121, 111, 78);
    height: 400px;
    margin: auto;
    
}
.inputs{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#botao{
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 25px;
}
.texto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.paragrafo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
